<div class="modal-overlay" id="password-change-modal">
  <div class="modal">

    <div class="modal__content">
      <h2 class="modal__title">Изменить пароль</h2>

      <form class="modal__form" id="password-change-form">
        <div class="modal__field">
          <input type="password" id="old_password" name="old_password" class="modal__input" placeholder=" ">
          <label class="modal__label" for="old_password">Старый пароль</label>
        </div>

        <div class="modal__field">
          <input type="password" id="new_password" name="new_password" class="modal__input" placeholder=" ">
          <label class="modal__label" for="new_password">Новый пароль</label>
        </div>

        <div class="modal__field">
          <input type="password" id="new_password_confirm" name="new_password_confirm" class="modal__input" placeholder=" ">
          <label class="modal__label" for="new_password_confirm">Повторите новый пароль</label>
          <span id="password-error" class="modal__error"></span>
        </div>

        <div class="modal__actions">
          <button type="submit" class="modal__button">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</div>
