<div class="error">
  <main class="error__container">
    {{{errorCodeHeading}}}
    <div class="error__image">
      {{{catImg}}}
      <div class="error__divider"></div>
    </div>
    <p class="error__message">{{errorMessage}}</p>
    {{{backButton}}}
  </main>
  {{!-- {{> navigation-buttons pages=pages}} --}}
</div>