<div class="error">
<main class="error__container">
  <h1 class="error__code">404</h1>
  <div class="error__image">
    <img src="cat_2.png" alt="Error cat" class="error__cat">
    <div class="error__divider"></div>
  </div>
  <p class="error__message">Не туда попали</p>
  <a href="/messenger" class="error__link">Назад к чатам</a>
</main>
{{> navigation-buttons pages=pages}}
</div>
