<nav class="navigation-container">
  <a href="/auth">Авторизация</a>
  <a href="/registration">Регистрация</a>
  <a href="/profile">Профиль</a>
  <a href="/messenger">Мессенджер</a>
  <a href="/client-error">Ошибка 404</a>
  <a href="/server-error">Ошибка 500</a>
</nav>